 /*
Theme Name: Jednotka
Theme URI: http://holobest.com/jednotka
Description: Jednotka - Multipurpose Wordrpess Theme
Author: Holobest
Author URI: http://themeforest.net/user/holobest
Version: 99.2.1
*/

 .wp-caption, .size-full {
     max-width: 100%;
     height: auto;
 }

 .wp-caption-text {}
 .sticky {}
 .gallery-caption {}
 .bypostauthor {}

 .alignright {
     display: block;
     float: right;
     margin: 3px 0 0 10px;
 }

 .alignleft {
     display: block;
     float: left;
     margin: 3px 10px 0 0;
 }

 .aligncenter {
     display: block;
     clear: both;
     margin: 10px auto;
 }
div .toolbar {
visibility: hidden;
height:1px;}

div .image-link, portfolio-box portfolio-filter-photography portfolio-item {
width:75%;
height:auto;
}

#wrapper {
	background-position: top left;
    background-size: contain;
}

#main-content-header .breadcrumb {
	display:none;
}

