/*------------------------------------*\
    $ADMIN
\*------------------------------------*/
.wp-admin .mfp-bg {
    z-index: 95;
}

.wp-admin .mfp-wrap {
    z-index: 96;
}

.wp-admin .mfp-content {
    z-index: 98;
}

.wp-admin .mfp-preloader {
    z-index: 97;
}

.wp-admin button.mfp-close,
.wp-admin button.mfp-arrow {
    z-index: 99;
}

.clearfix {
    *zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}

.clearfix:after {
    clear: both;
}

/* Shortcodes Generator */
table {
    width: 100%;
}

#shortcodes-form, #icons-form {
    position: relative;
    width: 807px;
    height: auto;
    background: #fff;
    margin: 0 auto;
    padding: 30px;
}

#shortcodes-table th {
    width: 200px;
}

.mce_holo_shortcodes_button, .mce_holo_shortcodes_button img {
    width: 80px !important;
}

.admin-stylish-button {
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    height: 33px;
    color: #fff;
    padding: 0;
    border-radius: 0;
    border: 0;
    float: right;
    margin: 20px 0 0 0;

    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
}

.admin-stylish-button input, .admin-stylish-button button {
    display: block;
    padding: 0 17px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    border: 0;
    margin: 0;
    line-height: 33px;
    height: 33px;
    vertical-align: baseline;
    background-color: #7DBB18;
    cursor: pointer;

    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
}

/***************************************************** select2 ********************************************************/
.select2-container a.select2-choice {
    border-radius: 0;
}

.select2-drop {
    border-radius: 0;
}

.select2-search {
    display: none;
}

.select2-results {
    max-height: 400px;
}

.select2-result {
    margin: 0;
}

.select2-drop-active, .select2-container-active .select2-choice, .select2-container-active .select2-choices {
    border-color: #7DBB18;
}

.select2-results .select2-highlighted {
    background-color: #7DBB18;
}

/************************************************ Shortcodes Fields ***************************************************/
#shortcodes-form .ui-accordion-header {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #DFDFDF;
}

#shortcodes-form .ui-state-active {
    border-bottom: none;
}

#shortcodes-form .wp-picker-container {
    width: auto;
}

#shortcodes-form th {
    width: 50%;
}

#shortcodes-form .ui-accordion-content {
    background-color: #f6f6f6;
    border-bottom: 1px solid #DFDFDF;
    padding: 0 10px;
    -webkit-box-shadow: inset 0 1px 5px #a5a5a5;
    -moz-box-shadow: inset 0 1px 5px #a5a5a5;
    box-shadow: inset 0 1px 5px #a5a5a5;
}

#shortcodes-form textarea {
    width: 100%;
    height: 100px;
}

#shortcodes-form .wp-picker-container .wp-color-result {
    margin: 0;
}

div.shortcode {
    width: 100%;
    margin: 20px 0;
}

.shortcode td, .shortcode th {
    padding: 10px 0;
}

.shortcode input[type="text"] {
    border-radius: 0;
}

.shortcodes-select-wrapper {
    padding-bottom: 10px;
    border-bottom: 1px solid #b5b5b5;
}

/***************************************************** Buttons ********************************************************/

.admin-stylish-button.add-new-button {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0 0 30px 30px;
}

.admin-stylish-button.add-new-button button {
    background-color: #DFDFDF;
}

/**************************************************** iconsform *******************************************************/
.icons-container {
    height: auto;
    width: 774px;
    margin: 10px 0;
    border-top: 1px solid #DFDFDF;
    border-left: 1px solid #DFDFDF;
}

.icon-wrapper {
    float: left;
    width: 39.7px;
    height: 39.7px;
    border-right: 1px solid #DFDFDF;
    border-bottom: 1px solid #DFDFDF;
    background-color: #fff;
    cursor: pointer;
}

.icon-wrapper i {
    display: block;
    line-height: 40px;
    text-align: center;
    font-size: 17px;
    color: #b5b5b5;
}

.icon-wrapper.selected-icon i {
    color: #33c427;
}

.no-icon.selected-icon {
    color: #33c427;
}

.no-icon {
    display: inline-block;
    line-height: 40px;
    border: 1px solid #DFDFDF;
    padding: 0 10px;
    cursor: pointer;
    background-color: #fff;
}

.iconsform {
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 20px;
}

div[aria-label="Shortcodes Generator"] i {
    width: 80px !important;
}