#post_gallery, #post_video, #portfolio_gallery, #portfolio_video {
    display: none;
}

.meta-fields-container table td:last-child {
    width: 70%;
}

.meta-fields-container table td {
    border-top: 1px solid #EEEEEE;
    padding: 10px 0;
    vertical-align: top;
}

#uploaded-slide-background-container, #uploaded-slide-background-container img, #uploaded-slide-image-container, #uploaded-slide-image-container img {
    width: 300px;
}