.error-page .btn.btn-bordered:hover, .error-page .btn.btn-bordered:focus {
    background-color: rgba(0, 0, 0, 0.05);
}

.sidebar-widget .button-cloud-box .btn.btn-bordered:hover, .btn.btn-bordered:focus {
    background-color: rgba(0, 0, 0, 0.05);
}

.browser-window .browser-content br {
    height: 0;
}

.flexslider .btn.btn-bordered {
    background-color: rgba(0, 0, 0, 0);
    border-color: #fff;
    color: #fff;
}

.flexslider .btn.btn-bordered:focus, .flexslider .btn.btn-bordered:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

@media (max-width: 767px) {
.text-boxes .text-box .image-link {
    margin-bottom: 20px;
}
}

a:focus
{
    outline: none;
}

#footer #footer-main .footer-widget a.time {
    color: #717E90;
}

#header .navbar-brand {
    color: #fff;
}

/*nav.sidebar .button-wrapper, nav.sidebar .btn {*/
    /*display: block;*/
    /*width: 100%;*/
/*}*/

.pagemenu ul li {
    list-style-type: none;
    float: left;
    margin-left: 10px;
}

.pagemenu > ul > li a {
    float: left;
}

.pagemenu > ul > li ul {
    float: left;
}

.sidebar-toggle .btn {
    padding: 15px 0;
}

.blog-posts.portfolio-boxes .portfolio-box a.image-link, .blog-posts.portfolio-boxes .portfolio-box a .image-link {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.blog-posts.portfolio-boxes .portfolio-box a.image-link:before, .blog-posts.portfolio-boxes .portfolio-box a .image-link:before {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.blog-posts .portfolio-boxes .portfolio-box a.image-link img, .blog-posts.portfolio-boxes .portfolio-box a .image-link img {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.portfolio-boxes .post-carousel .carousel-inner, .portfolio-media .post-carousel .carousel-inner, .portfolio-media .post-carousel .carousel-inner img  {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.button-cloud-box .btn.btn-bordered {
    border-color: #676F7A;
    margin-right: 5px;
    margin-bottom: 10px;
}

.sidebar-widget .button-cloud-box a.btn.btn-bordered {
    border-color: #EAEDF2;
}

.countdown-page .button-wrapper {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
}

.portfolio-media {
    margin-bottom: 20px;
}

.button-wrapper.table-button {
    width: 100%;
}

.button-wrapper.table-button.table-button-normal {
    background-color: #676F7A;
    color: #676F7A;
}

.pricing-table .btn.btn-bordered.btn-table {
    border-color: #676F7A;
    color: #676F7A;
}

.text-boxes .text-box p, .text-boxes .text-box.text-box-big-image p {
    margin: 0;
}

.text-boxes .text-box.text-box-big-image .image-link {
    margin-bottom: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.text-boxes .portfolio-box a .image-link img, .text-boxes .portfolio-box a .image-link:before {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.text-boxes .text-box .btn.btn-bordered {
    margin-top: 20px;
}

.text-boxes.portfolio-boxes .portfolio-item {
    margin: 0;
}

.carousel-control span {
    position: absolute;
    top: 50%;
    z-index: 5;
    margin-top: -15px;
    color: #fff;
}

.post-carousel .carousel-inner {
    padding: 0;
}

.post-carousel .carousel-inner .item {
    z-index: 0;
}

#main-content.full-width-main-content {
    padding-top: 0;
}

.panel.panel-big.panel-circle-big-contrast .panel-icon i {
    color: #fff;
}

.panel.panel-big.panel-circle-contrast .panel-icon i {
    color: #fff;
}

.btn.btn-white.button404 {
    border-color: #fff;
    color: #fff;
}

.btn.btn-medium-light {
    background-color: #9CA4AF;
}

.btn.btn-medium-light:hover, .btn.btn-medium-light:focus {
    background-color: #88929f;
    background-color: #88929f;
}

.panel .panel-heading, .panel .panel-footer {
    color: #fff;
}

.button-wrapper.contact-form-button-wrapper {
    width: 100%;
}

.button-wrapper.contact-form-button-wrapper input:hover, .button-wrapper.contact-form-button-wrapper input:focus {
    color: #fff;
}

.blog-full-image {
    margin-bottom: 20px;
}

.map-canvas-placeholder{
    height: 70px;
}

.flickr-images {
    text-align: center;
}

.flickr-images > .flickr_badge_image {
    margin: 0 10px 10px 0;
    padding: 0;
    vertical-align: top;
    display: block;
    float: left;
}

.flickr-images > .flickr_badge_image > a img {
    border: 4px solid #676F7A;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    transition: border-color 300ms ease 0s;
    width: 50px;
    height: 50px;
}

.flickr-images > .flickr_badge_image > a:hover img {
    border-color: #808894;
}

.sidebar-widget .flickr-images > .flickr_badge_image > a:hover img {
    border-color: #cad2df;
}

.sidebar-widget .flickr-images > div > a img {
    border: 4px solid #EAEDF2;
}

@media (max-width: 767px) {
    .flickr-images > .flickr_badge_image {
        margin: 0 10px 10px 0;
        padding: 0;
        vertical-align: top;
        display: inline-block;
        float: none;
    }
}

.list-group a.list-group-item {
    color: #555;
}

#wp-calendar {
    width: 100%;
}

#portfolio_gallery, #portfolio_video {
    display: none;
}

#comments .time a:hover {
    text-decoration: none;
}

#comments .pull-left img {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

#comments ul.children {
    padding-left: 90px;
    margin: 20px 0 0 0;
}

.comment-reply-link {
    float: right;
    font-weight: normal;
    margin-top: -5px;
    text-decoration: none;

    border-width: 2px;
    border-style: solid;
    font-size: 14px;
    line-height: 17px;
    padding: 4px 0 4px 18px;
    border-color: rgba(0, 0, 0, 0);
}

.comment-reply-link i {
    display: inline-block;
    cursor: pointer;
    padding-right: 4px;
}

.comment-reply-link:hover i {
    text-decoration: none;
}

p.form-submit {
    display: inline-block;
    background-color: #8DC153;
    background-image: none;
    color: #FFFFFF;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    height: 40px;
}

p.form-submit input {
    background-color: rgba(0, 0, 0, 0);
    border: 0 none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #FFFFFF;
    display: block;
    font-size: 16px;
    font-weight: 600;
    line-height: 40px;
    height: 39px;
    margin: 0;
    padding: 0 12px 1px 12px;
    vertical-align: baseline;
    transition: all 0.4s ease 0s;
}

p.form-submit input:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
.btn.social-icon {
    background-color: #9ca4af;
    border-color: #9ca4af;
    background-image: none;
    color: white;
}

.btn.social-icon:hover, .btn.social-icon:focus {
    background-color: #88929f;
    border-color: #88929f;
    color: white; }
.btn.social-icon:active, .btn.social-icon.active {
    background-color: #808a98;
    border-color: #808a98;
    color: white; }

.button-wrapper {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    width: auto;
    display: inline-block;
}

.squared-button-wrapper {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.button-wrapper a.btn {
    color: #fff;
}

.button-wrapper.btn-bordered {
    background-color: transparent;
}

.button-wrapper.btn-bordered a.btn {
    border-width: 0;
}

/*------------------------------------*\
    $SLIDER
\*------------------------------------*/

.flexslider.carousel-blur .button-wrapper {
    margin-top: 50px;
}

.flexslider .button-wrapper {
    margin-top: 30px;
}

.flexslider .button-wrapper .btn.btn-lg {
    margin-bottom: 0;
}

.flexslider .button-wrapper .btn.btn-lg {
    margin: 0;
}


/*------------------------------------*\
    $NAVS
\*------------------------------------*/
.footer-widget .list-group .list-group-item {
    border: 0;
    background-color: transparent;
    padding: 0;
    margin-bottom: 5px;
}

.footer-widget .list-group .list-group-item:hover, .footer-widget .list-group .list-group-item:focus {
    background-color: transparent;
}

.footer-widget .list-group .list-group-item:hover span, .footer-widget .list-group .list-group-item:focus span {
    text-decoration: underline;
}

.footer-widget .list-group .list-group-item:first-child {
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
}

.footer-widget .list-group .list-group-item:last-child {
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

iframe {
    max-width: 100%;
}